<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PBD Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>

  <div class="container">
    <%= render "layouts/messages" %>
    <%= render "layouts/navigation" %>
    <%= yield %>
  </div>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 and media queries -->
<!--[if lt IE 9]>
  <%= javascript_include_tag "bootstrap-ie" %>
<![endif]-->
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
